    <div class="cols-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4 footer footer-social">
        <%= link_to 'https://github.com/aleksgorbenko' do %>
          <%= image_tag 'github.png', class: 'social-button', alt: 'GitHub Aleks Gorbenko' %>
        <% end %>
        <%= link_to 'https://uk.linkedin.com/in/seospecialistlondon' do %>
          <%= image_tag 'linkedin.png', class: 'social-button', alt: 'LinkedIn Aleks Gorbenko' %>
        <% end %>
        <%= link_to 'https://www.facebook.com/aleksandrgorbenko12' do %>
          <%= image_tag 'facebook.png', class: 'social-button', alt: 'Facebook Aleks Gorbenko' %>
        <% end %>
      </div>
      <div class="col-xs-12 text-center">
        Coded by <a href='https://aleksgorbenko.com'>Aleks Gorbenko</a>. Built for <a href="https://www.thefirehoseproject.com">The Firehose Project</a>.
      </div>
</div>